<img src="https://images.unsplash.com/photo-1443996104801-80c82e789b18?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1175" alt="mountain background" class="background-image"/>
<div class="outer">
  <div class="middle">
      <div class="site-headers">
        <p id="site-title">Adrienne Domingus</p>
        <p id="site-subtitle">SOFTWARE DEVELOPER</p>
      </div>
      <%= render partial: "partials/connect_links" %>
  </div>
</div>
<div class="container">
  <div class="row content">
    <p class="intro">I am a software developer and <%= link_to "Turing School", "https://www.turing.io/" %> alum working at a small SaaS startup in Seattle. I spend most of my time writing code and asking questions, and I couldn't be happier about it. I'd love to talk to you about what you do, and how we might work together to make the world a better place!</p>
  </div>
  <div class="row show-list content">
    <div class="col-md-4">
      <h3 class="values">Technologies</h3>
        <ul class="list-unstyled">
          <li class="value">Python & Django</li>
          <li class="value">Ruby on Rails</li>
          <li class="value">TDD</li>
          <li class="value">JavaScript</li>
          <li class="value">jQuery/AJAX</li>
          <li class="value">RESTful APIs</li>
          <li class="value">Git</li>
        </ul>
    </div>
    <div class="col-md-4">
      <h3 class="values">Programming Values</h3>
        <ul class="list-unstyled">
          <li class="value">Performance</li>
          <li class="value">Well-factored code backed by tests</li>
          <li class="value">Adaptability and flexibility </li>
          <li class="value">Experimenting and learning</li>
          <li class="value">Ideation and Iteration</li>
        </ul>
    </div>
    <div class="col-md-4">
      <h3 class="values">Other Things I Love</h3>
      <ul class="list-unstyled">
        <li class="value">Books and bikes</li>
        <li class="value">High fives</li>
        <li class="value">Rain, but also the sun </li>
        <li class="value">Bare feet </li>
        <li class="value">My husband and, unabashedly, my cat </li>
      </ul>
    </div>
  </div>
</div>
