<div class="jumbotron dashboard-image">
  <div class="site-headers">
    <p id="site-title">Adrienne Domingus</p>
    <p id="site-subtitle">WEB DEVELOPER</p>
  </div>
</div>
<div class="container">
  <%= render partial: "partials/connect_links" %>
  <div class="row">
    <p id="intro">I am currently a student at the <%= link_to "Turing School of Software and Design", "https://www.turing.io/" %>, graduating in June. I spend most of my time writing code and asking questions, and I love it. I'd love to talk to you about what you do, and how we might work together to make the world a better place.</p>
  </div>
  <div class="row show-list">
    <div class="col-md-4">
      <h3 class="values">Technologies</h3>
        <ul class="list-unstyled">
          <li class="value">Ruby on Rails</li>
          <li class="value">TDD: RSpec/MiniTest/Capybara/VCR</li>
          <li class="value">ActiveRecord</li>
          <li class="value">JavaScript</li>
          <li class="value">JQuery/AJAX</li>
          <li class="value">RESTful APIs</li>
          <li class="value">Git</li>
        </ul>
    </div>
    <div class="col-md-4">
      <h3 class="values">Programming Values</h3>
        <ul class="list-unstyled">
          <li class="value">Performance</li>
          <li class="value">Well-factored code backed by tests</li>
          <li class="value">Adaptability and flexibility </li>
          <li class="value">Experimenting and learning</li>
          <li class="value">Ideation and Iteration</li>
        </ul>
    </div>
    <div class="col-md-4">
      <h3 class="values">Other Things I Love</h3>
      <ul class="list-unstyled">
        <li class="value">Books and bikes</li>
        <li class="value">High fives</li>
        <li class="value">Rain, but also the sun </li>
        <li class="value">Bare feet </li>
        <li class="value">My husband and, unabashedly, my cat </li>
      </ul>
    </div>
  </div>
</div>
