<div class="jumbotron blog-image">
  <h1 class="page-title"> <%= @blog.title %> </h1>
</div>
<div class="container page">
  <p class="show-post-date"><%= @blog.post_date %></p>
  <div class="post-contents">
    <%= @blog.content %>
  </div>
</div>
