.jumbotron {
  height: 700px;
  margin-top: -50px;
  background-image: url("https://images.unsplash.com/photo-1443996104801-80c82e789b18?crop=entropy&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1175");
  background-size: cover;
}

.navbar {
  background: rgba(0,0,0,0);
}

.brand a {
  color: #21435A;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
  border: 2px solid #21435A;
}

.navbar-link a {
  color: #21435A;
  text-decoration: none;
  margin-top: 4px;
  margin-top: 4px;
}

#site-title {
  font-size: 3em;
}

.site-headers {
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  font-family: 'Raleway', serif;
}


#site-subtitle {

}
