
.content {
  display: none;
}

.background-image {
  /*background-image: url("https://images.unsplash.com/photo-1443996104801-80c82e789b18?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1175");*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -100;
  position: absolute;
  height: 100%;
}

#site-title {
  font-size: 3em;
}

#site-subtitle {
  font-size: 1.5em;
}

.site-headers {
  color: white;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-family: 'Raleway', serif;
}

.outer {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 25%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.intro{
  font-family: 'Raleway', serif;
  font-size: 1.3em;
  text-align: center;
}

.connect-image img{
  width: 100%;
}

.connect-links {
  margin-bottom: 50px;
}

.row-centered {
  text-align:center;
  top: 60%;
}
.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
}

.hidden {
  display: none;
}

img {
  width: 100%;
}

.bold {
  font-weight: 900;
  font-size: 1.15em;
}

@media (max-width: 550px){
  .outer {
      display: table;
      position: relative;
      height: 100%;
      width: 100%;
      padding-top: 60%;
  }
}
